@import url(./theme.css);
.btn {  
    display:block;
    padding: 1rem;
    border-radius: 1rem;

    background-color: var(--brightBlue);
    color: var(--eggshellWhite);

    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
    text-align: center; 

    box-shadow: var(--shadowSmall), var(--shadowLarge);

    transition: background-color var(--transitionOut);
}

.btn:hover {
    background-color: var(--desaturatedBlue);
    transition: background-color var(--transitionIn);
}