@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --font-primary: "Red Hat Display", sans-serif;

    --darkBlue: hsl(223, 47%, 23%);
    --brightBlue: hsl(245, 75%, 52%);
    --desaturatedBlue: hsl(245, 50%, 62%);
    --paleBlue: hsl(225, 100%, 94%);

    --eggshellWhite: hsl(240, 100%, 98%);
    --veryLightGrey: hsl(229, 57%, 89%);
    --lightGrey: hsl(228, 2%, 58%);
    --darkGrey: hsl(240, 1%, 15%);

    --shadowSmall: 0 0.25rem 0.5rem hsla(0, 0%, 0%,0.5);
    --shadowLarge: 0 2rem 2rem hsla(245, 75%, 52%,0.2);

    --transitionOut: 0.1s ease-in;
    --transitionIn:0.15s ease-out;

}